@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('ttf'),
        url('./assets/fonts/Poppins-Medium.ttf') format('ttf'),
        url('./assets/fonts/Poppins-SemiBold.ttf') format('ttf');
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
}