@import url(clash-display.css);

:root{
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #c01111;
    --font-base: "Pacifico", serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

*{
    margin: 0;
    padding: 0;
}

/* #main{
    background-color: #fffff0;
} */

body{
    font-family: 'Montserrat', serif;
    line-height: 1.7;
    color: white;
    background-color: #131313;
}


/* html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: white;
    font-family: 'Montserrat', serif;
    font-style: bold;
}

p{
    font-size: small;
    font-family: 'Montserrat', serif;
}


a{
    text-decoration: none;
    color: white;
    transition: var(--transition);
}

a:hover{
    color: var(--c-brand-light);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 240px;
    padding-bottom: 140px;
}

.theme-shadow{
    box-shadow: var(--box-shadow);
}

/* NAVBAR */

.navbar{
    background-color: transparent;
    
    /* box-shadow: var(--box-shadow); */
}

.navbar-nav .nav-link{
    font-family: 'Montserrat', serif;
    font-size: small;
    font-weight: 500;
    color: white;
}

.nav-link{
    margin-left: 30px;
    margin-right: 30px;
    /* transition: all 0.2s; */
    position: relative;
}

.nav-link:hover{
    /* text-decoration: underline; */
    /* border-bottom: 2px solid white;*/
    color: white !important; 
}

.nav-link::after{
    content:'';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

.navbar-nav .nav-link.active {
    color: white !important;
    border-bottom: 2px solid white;
}

.navbar-brand {
    position: relative;
    background: url(../images/logo.png);
    width: 70px;
    left: 25px;
    background-size: contain;
    color: white;
}

/* .navbar-dark .navbar-toggler-icon {
    background-image: url("assets/icons/menu_icon.svg");
  } */

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: white;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: white;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}


#main{
    /* background: url(assets/img/main_bg.png);
    background-size: auto; */
    text-align: left;
    background-color: #131313;
    /* background-image: url(assets/img/main_bg_foreground.png), url(assets/img/main_bg.png);
    background-position: center, center;
    background-repeat: no-repeat, repeat;
    background-size: cover; */
}

.section-title{
    margin-bottom: 60px;
}

.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* ICONBOX */
/* .iconbox{
    width: 70px;
    height: 70dx;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand), 0.2);
    color: var(--c-brand);
    font-size: 34px;
} */

#products{
    /* position: relative;
    overflow: hidden;
    z-index: 2;
    background-color: #131313; */
    padding-bottom: 150px;
}

/* 
#products::after{
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

#products:hover::after{
    width: 100%;
    height: 100%;
    background: var(--c-brand);
} */

#products{
    background-color: #131313;

}

.product .product-card{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
}

.product .product-card:hover{
    height: 80px;
}

.product .product-card .cimg{
    position: relative;
    width: 150px;
    height: auto;
    top: -150%;
    left: 0;
    /* right: 0; */
    z-index: 1;
    /* box-shadow: 0 5px 20px rgba(83, 82, 82, 0.5); */
}

.product .product-card .cimg img{
    max-width: 50%;
    border-radius: 6px;
}

.product .product-card .cdetail{
    position: relative;
    margin-top: -140px;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
    font-size: 10px;
}

.product .product-card:hover .cdetail{
    visibility: visible;
    opacity: 1;
    margin-top: -70px;
}

/* Contact */
/* #contact{
    position: relative;
    z-index: 2;
    background-image: url(assets/img/огурцы8.jpg);
} */

/* #contact::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(assets/img/огурцы8.jpg);
    background-color: #131313;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

/* #contact .form-control {
    border-radius: 0;
}

#contact .form-contro:focus {
    box-shadow: none;
    border-color: var(--c-brand);
} */


.image1 {
    /* overflow: hidden; */
    position: relative;
    width: 90%;
    max-height: auto;
    right: 0;
    /* bottom: 0; */
    /* background-size: cover; */
    /* border: 1px solid #000000; */
  }
  
.image2 {
    /* overflow: hidden; */
    position: absolute;
    right: 70px;
    scale: 1;
    /* top: 0; */
    /* left: 0;
    bottom: 0; */
    /* background-size: cover; */

    /* border: 1px solid #000000; */
  }

  /* .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  } */

  #about{
    background-color: #131313;
  }
  .container_about{
    display: flex;
    align-items: center;
    margin-top: 40vh;
    margin-left: 1vh;
    margin-right: 1vh;
    background-color: white;
    /* box-shadow: -30px 30px 20px 0 rgb(45, 43, 43); */
    /* border-radius: 10px; */
  }

  .container_about img{
    width: auto; 
    max-height: auto; 
    object-fit: fill;
  }

  .container_about p{
    /* text-align: center; */
    padding: 20px; 
    font-size: 10px;
    
  }

  .main_title{
    width: 100%;
    padding-top: 120px;
}

.main_btn{
    position: relative; 
    margin-top: 10px;
}

.productsbtns{
    width: 100%;
    height: 100px;
    /* border-bottom: 2px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 150px;
}

.productsbtns ul li{
    list-style: none;
    padding: 6px;
    margin: 6px;
    float: left;
    font-size: 10px;
    border-radius: 20px;
    font-family: 'Montserrat', serif;
}

.productsbtns ul li a{
    color: white;
    text-decoration: none;
}

.productsbtns ul li.active{
    background-color: white;
}

.productsbtns ul li.active a{
    color: #131313;
    /* font-weight: bold; */
}

.product-field{
    /* padding: 1vh 1vh; */
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin: 0; */
    list-style-type: none;

}

/* .product-field ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
}
.product-field ul li{
    width: 10%;
    height: 300px;
    transition: 0.3 all;
    border-radius: 20px;
    padding: 10px;
    margin: 0 20px 20px 20px;
    position: relative;
    font-size: 10px;
} */

.product-field ul {
        /* margin: 0 auto;
        text-align: center; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: 100px;
    }
    
.product-field li {
        /* display: inline-block;
        vertical-align: top; */
        
}

.stm{
    display: flex;
    align-items: center;
    margin-left: 5vh;
    margin-right: 5vh;
    /* background-color: #fff; */
    border-radius: 30px;
    border:1px solid white;
}

.stm_img{
    /* align-self: center; */
    
}

.stm_text{
    font-size: 10px;
    padding: 1vh;
    color: white;
    font-family: 'Montserrat', serif;
}

.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img{
    border-radius: 30px;
}


  @media (min-width: 800px) { /*choose the width you prefer*/

    .container_about {
        margin-top: 0vh;
        margin-left: 15vh;
        margin-right: 15vh;
    }

    /* .container_about p{
        font-size: 10px;
    } */

    .image1{
        
        right: 0;
        bottom: 0;
    }
    .image2{
        top: 0;
        right: 0;
        bottom: 0;
        scale: 1;
    }
    .main_title{
        width: 35%;
    }
    .main_btn{
        position: relative; 
        margin-top: 50px;
    }

    .productsbtns ul li{
        list-style: none;
        padding: 10px;
        margin-left: 10px;
        float: left;
        font-size: 20px;
        border-radius: 20px;
        font-family: 'Montserrat', serif;
    }

    

    .product-field{
        padding: 5px 5px;
        padding-bottom: 100px;
        padding-left: 100px;
        /* padding: 0; */
    }

    /* .product-field ul {
        margin: 0 auto;
        text-align: center;
    }
    
    .product-field li {
        display: inline-block;
        vertical-align: top;
        
    } */

    .product-field ul {
        /* margin: 0 auto;
        text-align: center; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 10px;
        grid-auto-rows: 100px;
        padding: 10px;
        margin: 100px 10px 0 10px;
    }
    
    /* .product-field ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin: auto;
    }
    .product-field ul li{
        width: 23.4%;
        height: 300px;
        transition: 0.3 all;
        border-radius: 20px;
        padding: 10px;
        margin: 100px 10px 0 10px;
        position: relative;
        font-size: 10px;
    } */

    .stm{
        margin-left: 20vh;
        margin-right: 20vh;
    }

    .stm_text{
        font-size: 20px;
    }


    .product .product-card{
        position: relative;
        max-width: 200px;
        height: 100px;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        transition: 0.4s ease-in-out;
    }
    
    .product .product-card:hover{
        height: 130px;
    }
    
    .product .product-card .cimg{
        position: relative;
        width: 160px;
        height: 160px;
        top: -150%;
        left: 6px;
        z-index: 1;
        /* box-shadow: 0 5px 20px rgba(83, 82, 82, 0.5); */
    }
    
    .product .product-card .cimg img{
        max-width: 100%;
        border-radius: 6px;
    }
    
    .product .product-card .cdetail{
        position: relative;
        margin-top: -140px;
        text-align: center;
        color: white;
        font-family: 'Montserrat';
        visibility: hidden;
        opacity: 0;
        transition: 0.4s ease-in-out;
        font-size: 15px;
    }
    
    .product .product-card:hover .cdetail{
        visibility: visible;
        opacity: 1;
        margin-top: -70px;
    }


  }


  @media (max-width: 500px) { /*choose the width you prefer*/

    /* .container_about {
        margin-left: 15vh;
        margin-right: 15vh;
    } */
    .image2 {
        /* overflow: hidden; */
        position: absolute;
        right: 70px;
        scale: 1.5;
        padding-top: 40px;
      }

    .container_about{
        display: block;
        margin-top: 0vh;
    }
    /* .main_title{
        width: 35%;
    } */
    /* .main_btn{
        position: relative; 
        margin-top: 50px;
    } */

  }

  @media (hover : hover){

  }

  @media (hover : none){
    
  }
